.inline-title {
  text-align: center;
}

.media-embed {
  text-align: center
}
.media-embed img,
.media-embed .excalidraw-svg {
  width: 100%;
  max-height: 500px;
}

.table-wrapper {
  margin: auto;
}
